<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=appName%></h1>
    <p>This is a task manager to manage tasks!</p>
  </body>
</html>