<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=appName%></h1>
    <p><a href="about">About <%=appName%></a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="TaskManager">TaskManager</a></p>
  </body>
</html>
